@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    scroll-behavior: smooth !important;
    background-color: var(--color-whiteCream);
}

/* ==================== COMMON-CLASS-CSS-START ====================*/
.ff_Libre {
    font-family: 'Libre Baskerville', serif;
}

.cursore_pointer {
    cursor: pointer;
}

.lh_25 {
    line-height: 128.5%;
}

.lh_28 {
    line-height: 93.5%;
}

.lh_34 {
    line-height: 136.5%;
}

.lh_45 {
    line-height: 93.5%;
}

.all_transition {
    transition: all 0.2s ease-in-out !important;
}

.z_index_1 {
    z-index: 1;
}

/* ==================== Hi,I'm Andrew--CSS-START ====================*/
.andrew_bg {
    background-color: var(--color-Bandicoot);
    border-radius: 0px 168px 0px 0px !important;
}

.andrew_para {
    letter-spacing: 2.5px;
}

.andrew_para_two {
    max-width: 814px;
}

.strapath_rounded_stamp {
    bottom: -16%;
    right: 4%;
    width: 260px;
}

.strapath_rounded_stamp_2 {
    width: 104px;
    bottom: -6%;
    right: 9.9%;
}

.rotate {
    animation: rotation infinite 15s linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ==================== WE WORK WITH-CLASS-CSS-START ====================*/
.after_line {
    position: relative;
}

.after_line::before,
.after_line::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50%;
    height: 2px;
    background-color: #89886D;
}

.after_line::before {
    left: 0;
    transform: translateY(-50%);
}

.after_line::after {
    right: 0;
    transform: translateY(-50%);
}

.main_heading_bg {
    background-color: var(--color-Bandicoot);
    padding: 22.5px 58.5px;
    border-radius: 26px;
}

.work_cards:hover {
    transform: translatey(-10px);
}

.work_cards {
    border-left: 6px solid var(--color-Bandicoot);
    padding: 0px 0 0 16px;
}

.work_cards_para {
    max-width: 415px;
    line-height: 136%;
}

/* ================ SLICK SLIDER CODE================ */
.slick-dots li button:before {
    border-radius: 50% !important;
    width: 13px !important;
    height: 13px !important;
}

.work_slider {
    padding: 20px !important;
}

.slick-dots li button:before {
    content: "" !important;
    font-family: slick;
    font-size: 10px !important;
}

.slick-dots li button {
    border: 2px solid #89886D !important;
    border-radius: 50% !important;
    width: 10px !important;
    height: 10px !important;
}

.slick-dots li.slick-active button:before {
    background: #89886D !important;
    content: "" !important;
}

.slick-dots {
    bottom: -26px !important;
}

.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: #000;
}

.slick-dots li {
    width: unset !important;
    height: unset !important;
}

/* ==================== FOOTER-CSS-START ====================*/
.footer_icon_hover:hover {
    transform: scale(1.2);
}

.footer_link_hover:hover {
    font-weight: 700;
    color: #89886D !important;
}

.email_hover:hover {
    color: var(--color-darkGreen) !important;
}

.footer_devide_line {
    border-left: 0.5px solid var(--color-darkGreen) !important;
}

.footer_logo_w {
    max-width: 271px !important;
}

.max_w_375 {
    max-width: 375px;
}

/* ==================== BACK-TO-TOP-CSS-START ====================*/
#scroll svg {
    height: 25px;
    width: 22px;
}

.z-index-5 {
    z-index: 5;
}

#scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 50;
    cursor: pointer;
    color: white;
    padding: 10px 12px;
    border-radius: 50% !important;
    background: #122B18;
    border: 1px solid transparent;
    animation: moves 3s infinite;
    transition: all 0.3s ease-in-out !important;
}

@keyframes moves {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

#scroll:hover {
    box-shadow: 0px 0px 4px 4px #122B18;
    border: 1px solid white;
    color: white !important;
}

/* ==================== 2nd page css start-CSS-START ====================*/

.fs_40 {
    font-size: 40px;
}

.lh_26 {
    line-height: 116%
}

.lh_42 {
    line-height: 93.5%;
}

.straignt_bg {
    background-color: var(--color-lightPink);
    border-radius: 0px 168px 0px 0px;
    margin-top: 174px;
}

.straignt_img {
    position: absolute;
    top: -7%;
    max-width: 565px;
}

.straignt_cuntent {
    max-width: 690px;
}

.about_rounded_stamp {
    z-index: 1;
    max-width: 175px;
    left: 32%;
    bottom: -4%;
}

.about_rounded_stamp_logo {
    z-index: 1;
    max-width: 100px;
    left: 34%;
    bottom: 0.5%;
}

.andrew_img_set {
    top: -41%;
    position: absolute;
    left: 0;
}

@media (min-width: 1400px) and (max-width: 1500px) {
    .custom_container {
        max-width: 1320px !important;
        margin: 0, auto !important;
    }

    .footer_logo_w {
        width: 220px !important;
    }
}

.about_rounded_stamp {
    left: 31%;
    bottom: 2%;
}

.about_rounded_stamp_logo {
    left: 33.5%;
    bottom: 5.8%;
}

@media (min-width: 1500px) {
    .strapath_rounded_stamp {
        right: 4.5%;
    }

    .about_rounded_stamp {
        left: 29%;
        bottom: 8%;
    }

    .about_rounded_stamp_logo {
        left: 31%;
        bottom: 12%;
    }
}

@media (min-width: 1600px) {
    .straignt_img {
        max-width: 627px;
    }

    .about_rounded_stamp {
        left: 24%;
        bottom: -7%;
        max-width: 242px;
    }

    .about_rounded_stamp_logo {
        left: 27%;
        bottom: 1%;
        max-width: 112px;
    }

    .custom_container {
        max-width: 1430px !important;
        margin: 0, auto !important;
    }

    .custom_container_xxl {
        max-width: 1726px !important;
        margin: 0, auto !important;
    }

    .after_line {
        max-width: 1726px !important;
        margin: 0 auto !important;
    }

    .work_cards {
        padding: 0 0 0 36px;
    }


    .strapath_rounded_stamp_2 {
        bottom: -5%;
        right: 8.9%;
        width: 100px;
    }
}

@media (min-width: 1930px) {
    .strapath_rounded_stamp_2 {
        bottom: -5%;
        right: 7.9%;
    }

    .about_rounded_stamp {
        left: 17%;
    }

    .about_rounded_stamp_logo {
        left: 19.5%;
    }
}

@media (max-width: 1399.98px) {

    .straignt_img {
        position: absolute;
        top: -7%;
        max-width: 503px;
    }

    .about_rounded_stamp {
        left: 28%;
        bottom: 11%;
    }

    .about_rounded_stamp_logo {
        left: 30.5%;
        bottom: 14.8%;
    }
}

@media (max-width: 1199.98px) {
    .fs_40 {
        font-size: 29px;
    }

    .about_rounded_stamp {
        left: 31%;
        width: 108px;
        bottom: 2%;
    }

    .andrew_img_set {
        top: -300px;
        position: absolute;
        left: -36px;
    }

    .about_rounded_stamp_logo {
        width: 63px;
        left: 33%;
        bottom: 5.5%;
    }

    .straignt_img {
        max-width: 432px;
    }

    .main_heading_bg {
        padding: 16px 18px;
        border-radius: 17px;
    }

    .strapath_rounded_stamp {
        width: 150px !important;
        height: 150px !important;
        bottom: -11%;
        z-index: 1;
    }

    .strapath_rounded_stamp_2 {
        bottom: -2%;
        right: 8.5%;
        width: 57px;
    }

    .footer_logo_w {
        max-width: 200px !important;
    }
}

@media (max-width: 991.98px) {

    .about_rounded_stamp_logo {
        left: 50.5%;
        bottom: 85.1%;
    }

    .fs_40 {
        font-size: 25px;
    }

    .strapath_rounded_stamp {
        bottom: -6.5%;
    }

    .andrew_img_set {
        margin-top: -130px;
        position: unset;
    }

    .about_rounded_stamp {
        left: 48%;
        bottom: 82%;
    }


    .strapath_rounded_stamp_2 {
        bottom: -1.9%;
        right: 10%;
        width: 57px;
    }

    .max_w_375 {
        max-width: 375px;
    }

    .andrew_bg {
        border-radius: 0px 70px 0px 0px !important;
    }

    .straignt_img {
        top: -80%;
    }

    .straignt_bg {
        margin-top: 630px;
    }

    .fs_40 {
        font-size: 31px;
    }

    .andrew_bg {
        border-radius: 0px 168px 0px 0px !important;
    }
}

@media (max-width: 576px) {
    .work_slider {
        padding-bottom: 0px !important;
    }

    .slider_icon_w {
        width: 45px;
    }

    .about_rounded_stamp {
        left: 66%;
        bottom: -10%;
        width: 123px;
    }

    .about_rounded_stamp_logo {
        left: 74%;
        bottom: -5.5%;
        width: 58px;
    }

    .fs_40 {
        font-size: 18px;
    }

    .straignt_img {
        top: 643px;
        width: 296px;
    }

    .straignt_bg {
        margin: 48px 0 350px 0;
    }

    .straignt_bg {
        border-radius: 0px 100px 0px 0px;
    }

    .andrew_img_set {
        margin-top: 9px;
        position: unset;
        margin-bottom: -100px;
    }

    .strapath_rounded_stamp_2 {
        bottom: -5.5%;
        right: 14.7%;
        width: 51px;
        z-index: 1;
    }

    #scroll {
        bottom: 15px !important;
        right: 8px !important;
        padding: 4px 6px !important;
    }

    .footer_logo_w {
        width: 92px !important;
    }

    .work_cards {
        border-left: none;
        padding: unset;
    }

    .andrew_bg {
        margin-bottom: 84px;
    }

    .strapath_rounded_stamp {
        width: 130px !important;
        bottom: -12%;
        z-index: 1;
    }

    .main_heading_bg {
        padding: 13px 18px;
        border-radius: 17px;
        width: 233px;
    }
}