@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&family=Montserrat:wght@400;500;600;700;800&family=Tenor+Sans&display=swap');

/*--------------------------------- ROOT-DEFINE-VALUES --------------------------------- */
:root {
  --color-whiteCream: #FFF9F0;
  --color-Bandicoot: #89886D;
  --color-lightPink: #E3DDD6;
  --color-lightBrown: #B7AC84;
  --color-CoralReef: #C8C0A1;
  --color-Teal: #BEC9C0;
  --color-darkGreen: #122B18;
  --font-2xs: 12px;
  --font-xs: 14px;
  --font-sm: 16px;
  --font-base: 18px;
  --font-md: 20px;
  --font-lg: 20px;
  --font-xl: 25px;
  --font-2xl: 36px;
  --font-3xl: 45px;
  --font-3xl-bold: 48px;
  --font-4xl: 50px;
  --font-5xl: 60px;
  --font-6xl: 180px;
}

/*--------------------- DEFINE-ALL = ROOT-VALUE ------------------------------ */
.color_whiteCream {
  color: var(--color-whiteCream) !important;
}

.color_CoralReef {
  color: var(--color-CoralReef) !important;
}

.color_lightPink {
  color: var(--color-lightPink) !important;
}

.color_lightBrown {
  color: var(--color-lightBrown) !important;
}

.color_Teal {
  color: var(--color-Teal) !important;
}

.color_darkGreen {
  color: var(--color-darkGreen) !important;
}

.color_Bandicoot {
  color: var(--color-Bandicoot) !important;
}

.opacity_08 {
  opacity: 0.8 !important;
}

/*---------------------------- DEFINE-ALL = BACKGROUND COLOR ---------------------------- */
.bg_lightPink {
  background: var(--color-lightPink);
}

.bg_lightBrown {
  background: var(--color-lightBrown);
}

.bg_Teal {
  background: var(--color-Teal);
}

.bg_darkGreen {
  background: var(--color-darkGreen) !important;
}

.bg_Bandicoot {
  background: var(--color-Bandicoot);
}


/*---------------------------- DEFINE-ALL = FONT-SIZES ---------------------------- */
.font_xs {
  font-size: var(--font-xs);
}

.font_sm {
  font-size: var(--font-sm);
}

.font_base {
  font-size: var(--font-base);
}

.font_md {
  font-size: var(--font-md);
}

.font_lg {
  font-size: var(--font-lg);
}

.font_xl {
  font-size: var(--font-xl);
}

.font_2xl {
  font-size: var(--font-2xl);
}

.font_3xl {
  font-size: var(--font-3xl);
}

.font_3xl_bold {
  font-size: var(--font-3xl-bold);
}

.font_4xl {
  font-size: var(--font-4xl);
}

.font_5xl {
  font-size: var(--font-5xl);
}

.font_6xl {
  font-size: var(--font-6xl);
}

/*---------------------------- DEFINE-ALL = FONT-WEIGHT ---------------------------- */

.fw_medium {
  font-weight: 500;
}

.fw_extrablod {
  font-weight: 800;
}

/*---------------------------- DEFINE-ALL = FONT-FAMILY---------------------------- */
.ff_jost {
  font-family: 'Jost', sans-serif;
}

.ff_tenor {
  font-family: 'Tenor Sans', sans-serif;
}

.ff_montserrat {
  font-family: 'Montserrat', sans-serif;

}

/*------------------------ DEFINE-ALL = @media----FONT SIZE-SET--------------------  */
@media (max-width: 1899.98px) {
  :root {
    --font-6xl: 148px;
  }
}

@media (max-width: 1599.98px) {
  :root {
    --font-2xs: 12px;
    --font-xs: 14px;
    --font-sm: 16px;
    --font-base: 16px;
    --font-md: 20px;
    --font-2xl: 34px;
    --font-3xl: 45px;
    --font-3xl-bold: 46px;
    --font-4xl: 48px;
    --font-5xl: 60px;
    --font-6xl: 126px;
  }
}

@media (max-width: 1499.98px) {
  :root {
    --font-3xl: 45px;
  }
}

@media (max-width: 1366.98px) {
  :root {
    --font-md: 18px;
    --font-2xl: 32px;
    --font-3xl: 40px;
    --font-3xl-bold: 44px;
    --font-5xl: 56px;
    --font-6xl: 100px;
  }
}

@media (max-width: 1280px) {
  :root {
    --font-xs: 12px;
    --font-sm: 14px;
    --font-base: 12px;
    --font-md: 18px;
    --font-lg: 12px;
    --font-xl: 18px;
    --font-3xl-bold: 40px;
    --font-4xl: 35px;
    --font-5xl: 39px;
    --font-6xl: 46px;
  }
}

/* @media (max-width:991.98px) {
  :root {
    --font-lg: 16px;
    --font-xl: 18px;
    --font-3xl-bold: 40px;
    --font-4xl: 35px;
    --font-5xl: 39px;
    --font-6xl: 46px;
  }
} */

@media (max-width: 767.98px) {
  :root {
    --font-sm: 14px;
    --font-base: 16px;
    --font-md: 16px;
    --font-lg: 16px;
    --font-xl: 20px;
    --font-2xl: 26px;
    --font-3xl: 24px;
    --font-3xl-bold: 22px;
    --font-4xl: 24px;
    --font-5xl: 24px;
    --font-6xl: 46px;
  }
}


/* ====================DEFINE COMMON CSS CODE==================== */
.sub_para {
  font-size: var(--font-lg);
  line-height: 28px;
}

.text_underline {
  position: relative;
  white-space: nowrap;
}

.text_underline::after {
  bottom: -5px;
  position: absolute;
  content: "";
  display: block;
  height: 0px;
  width: 0px;
  background: var(--color-whiteCream);
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  left: 50%;
}

.text_underline:hover:after {
  position: absolute;
  content: "";
  height: 2px !important;
  width: 100% !important;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.common_btn {
  border-radius: 9px;
  border: 3px solid var(--Cream, #FFF9F0);
  background: rgba(255, 249, 240, 0.25);
  line-height: 93.5%;
  letter-spacing: 3.125px;
  padding: 17.5px 62px;
  transition: all 0.3s ease-in;
}

.common_btn:hover {
  background: transparent !important;
}

.lh_108 {
  line-height: 108.5%;
}

.lh_110 {
  line-height: 110%;
}

.lh_116 {
  line-height: 116.5%;
}

.lh_117 {
  line-height: 117%;
}

.lh_93 {
  line-height: 93.5%;
}

.lh_57 {
  line-height: 143.5%;
}

.lh_custom {
  line-height: 93.5%;
}

.z_index1 {
  z-index: 1;
}

.z_index2 {
  z-index: 2;
}

.z_index3 {
  z-index: 3;
}

.z_index4 {
  z-index: 4;
}

/* DEFINE NAVBAR CODE CSS============================================== */
.navbar_bg {
  background: #121212bd !important;
  z-index: 100;
  min-height: 86px;
}

.border_bottom_2 {
  border-bottom: 1px solid #ffffff26 !important;
}

.nav_hover {
  transition: all 0.3s ease-in-out;
}

.nav_hover:hover {
  transform: scale(1.2) !important;
}

.toggle_icon {
  height: 30px;
  width: 30px;
}

.menu {
  width: 30px;
  height: 30px;
  right: 10px;
  z-index: 1;
}

.cross_btn {
  right: 11% !important;
}

.show_nav {
  top: 0% !important;
  right: 0% !important;
  left: 0% !important;
  opacity: 1 !important;
  z-index: 77 !important;
}

/* ====================DEFINE HERO SECTION CODE==================== */
.nav_logo {
  max-width: 300px;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100%;
  z-index: 0;
  animation: fadeIn 2s;
}

/* ======================DEFINE GLOBAL CLIENT CSS CODE====================== */
.global_client_img_box {
  height: 70px;
  max-width: 190px !important;
}

.global_client_parent {
  max-width: 950px;
}

/* ======================DEFINE WHAT WE DO CSS CODE====================== */
.what_we_do_sectionBg {
  border-radius: 0px 0px 0px 200px !important;
}

.what_we_do_cards_para {
  max-width: 440px;
}

/* ======================DEFINE OUR APPROACH CSS CODE====================== */
.approach_heading_after_line::before,
.approach_heading_after_line::after {
  background-color: var(--color-darkGreen) !important;
}

.approach_card {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  padding: 35px 16px 53px 30px !important;
  max-width: 308px;
  border-radius: 100%;
  opacity: 0.8;
  transition: all 0.3s ease-in-out !important;
}

.approach_card:hover {
  transform: scale(1.05);
  opacity: 1;
}

.approach_card_hover {
  transition: all 0.3s ease-in-out !important;
}

.approach_card_hover:hover {
  opacity: 1;
  z-index: 6 !important;
}

.approach_cricle {
  height: 38px !important;
  width: 38px !important;
}

.mt_minus_12 {
  margin-top: -12px !important;
}

.letter_spacing_12 {
  letter-spacing: 12.5% !important;
}

.margint_left_10 {
  margin-left: -12%;
}

/* ==================================DEFINE OUR STORY CODE================================== */
.hero_section_height {
  min-height: 100vh;
}

.ourStory_header_bg {
  background: linear-gradient(0deg, #FFF9F0 -3.62%, rgba(255, 249, 240, 0.63) 25.35%, rgba(255, 249, 240, 0.00) 42.55%), linear-gradient(180deg, #BEC9C0 50%, #FFF9F0 100%);
}

.hero_shade {
  background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 50%, #FFF9F0 99.48%);
}

.mix_blend_mode {
  mix-blend-mode: difference !important;
}

.header_bottom_shade {
  min-height: 350px;
  transform: rotate(-180deg);
  background: linear-gradient(180deg, #FFF9F0 40%, rgba(0, 0, 0, 0.00) 90.89%);
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.25);
  z-index: 5;
  margin-bottom: -5px !important;
}

/* ==========================DEIFINE EXPLORATION CODE========================== */
.exploration_heading {
  line-height: 116.5%;
  letter-spacing: 39.634px;
}

.exploration_content_parent {
  max-width: 1320px;
  margin-top: -320px;
}

.video_parent {
  max-width: 1047px;
  height: 548px;
}

/* =======================DEFINE HERO TEXT ANIMATE CODE======================= */
.text-zoomIn {
  animation: zoomIn;
  animation-duration: 3s;
}

.animation-duration4 {
  animation-duration: 3s;
}

.animation-duration5 {
  animation-duration: 3.s;
}

.what_we_do_card_box {
  max-width: 350px;
}

/*------------------------ DEFINE-ALL = @media-queries ----------------------  */
@media (max-width:1599.98px) {
  .what_we_do_sectionBg {
    border-radius: 0px 0px 0px 150px !important;
    padding-bottom: 16px !important;
  }

}

@media (max-width:1366.98px) {
  .common_btn {
    padding: 14.5px 40px;
  }

  .video_side_img {
    max-width: 180px;
  }

  .hero_section_height {
    min-height: calc(100vh - 20vh) !important;
  }

  .exploration_content_parent {
    max-width: 1320px;
    margin-top: -265px;
  }
}

@media (max-width:1280px) {
  .work_cards img {
    width: 50px !important;
  }

  .what_we_do_card_box {
    max-width: 210px;
  }

  .global_client_img_box {
    height: 60px;
    max-width: 135px !important;
  }

  .sub_para {
    line-height: 16px !important;
  }

}

@media (max-width:1199.98px) {

  .slider_icon_w {
    width: 50px;
  }



  .what_we_do_sectionBg {
    border-radius: 0px 0px 0px 100px !important;
  }

  .video_parent {
    max-width: 600px !important;
    height: unset !important;
  }

  .exploration_content_parent {
    max-width: 950px !important;
    margin-top: -220px !important;
  }

  .video_side_img {
    max-width: 150px;
  }

  .nav_logo {
    max-width: 250px;
  }

  .hero_section_height {
    min-height: calc(100vh - 0vh) !important;
  }
}

@media (max-width:991.98px) {
  .hero_section_height {
    min-height: 650px !important;
  }

  .what_we_do_sectionBg {
    border-radius: 0px 0px 0px 72px !important;
  }

  .video_parent {
    max-width: 600px !important;
    height: unset !important;
  }

  .exploration_content_parent {
    max-width: 735px !important;
    margin-top: -150px !important;
  }

  .video_side_img {
    max-width: 100px;
  }

}

@media (max-width:767.98px) {
  .sub_para {
    line-height: 21.76px !important;
  }

  .what_we_do_card_box {
    max-width: 285px;
  }

  .lh_custom {
    line-height: 120.5%;
  }

  .exploration_content_parent {
    max-width: unset !important;
    margin-top: -3% !important;
  }

  .exploration_heading {
    letter-spacing: 24.634px !important;
  }

  .common_btn {
    font-size: 14px !important;
    padding: 6px 23px;
  }

  .nav_logo {
    max-width: 250px;
  }

  .overlay {
    position: absolute;
    background: #89886D !important;
    width: 100%;
    height: 100%;
    max-height: 444px;
    top: -100%;
    right: 0% !important;
    left: 0% !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.6s all linear !important;
    -o-transition: 0.6s all linear !important;
    transition: 0.6s all linear !important;
    z-index: 9999 !important;
  }

  .overflow_hidden {
    overflow: hidden !important;
  }

  .nav_link {
    line-height: 93.5%;
    letter-spacing: 2.25px;
    text-transform: uppercase;
  }

  .global_client_img_box {
    max-width: 70px !important;
    height: 35px;
  }

  .what_we_do_sectionBg {
    border-radius: 0px 0px 72px 0px !important;
  }

  .nav_icons_custom_hw {
    height: 50px !important;
    width: 50px !important;
  }

  .exploration_heading {
    margin-top: -4%;
    letter-spacing: 17.634px !important;
  }

  .nav_logo {
    max-width: 150px;
  }

  .hero_section_height {
    min-height: calc(100vh - 20vh) !important;
  }

  .fs_xsm_14 {
    font-size: 14px !important;
    line-height: 15.2px !important;
  }
}

@media (max-width:575.98px) {
  .hero_section_height {
    min-height: calc(100vh - 37vh) !important;
  }

  .cross_btn {
    right: 0 !important;
  }

  .navbar_bg {
    min-height: 66.5px;
  }

  .menu {
    right: 0px !important;
  }


  .overlay {
    max-height: 310px;
  }

  .nav_icons_custom_hw {
    height: 28px !important;
    width: 28px !important;
  }

  .exploration_heading {
    margin-top: -20px;
    letter-spacing: 9px !important;
  }

  .lh_108 {
    line-height: unset !important;
  }


  .nav_logo {
    max-width: 120px;
  }

  .fs_xsm_16 {
    font-size: 16px !important;
  }



  .fs_xsm_12 {
    font-size: 12px !important;
  }

  .approach_card2 {
    margin-top: -24px;
  }
}

@media (max-width:449.98px) {
  .global_client_img_box {
    max-width: 80px !important;
  }

  .exploration_heading {
    letter-spacing: 1.634px !important;
  }
}

@media (min-width:1366px) and (max-width:1399.98px) {
  .container_modify {
    max-width: 1280px !important;
  }
}

@media (min-width:1281px) {
  .container_modify {
    max-width: 1220px !important;
  }

  .custom_container {
    max-width: 1140px !important;
  }
}

@media (min-width:768px) and (max-width:1280.98px) {
  .custom_container {
    max-width: 700px !important;
  }

  .andrew_rotate_logo {
    right: 36% !important;
  }
}

@media (min-width:1600px) {
  .exploration_content_parent {
    max-width: 1480px;
    margin-top: -330px;
  }

  .mb_xxl_3 {
    margin-bottom: 48px !important;
  }

  .pb_xxl_3 {
    padding-bottom: 48px !important;
  }
}

@media (min-width:1281px) {
  /* .col_xxl_4 {
    flex: 0 0 auto !important;
    width: 33.33333333% !important;
  }
  .col_xxl_4 {
    flex: 0 0 auto !important;
    width: 33.33333333% !important;
  }

  .flex_xl_row {
    display: flex !important;
    flex: row !important;
  } */
}

@media (min-width:1900px) {
  .exploration_content_parent {
    max-width: 1707px;
    margin-top: -350px;
  }

  .hero_section_height {
    min-height: calc(100vh - 17vh);
  }
}